                                         /*PART-1*/
#anh{
    height: 550px;
    width: 100%;
}
.head{
    top: 50px;
}
a{
    text-decoration: none;
}
.containerr{
    border: 1px solid  #cac8c8;
    background-color: #c6c8ca;
}
.nav_item{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.login_type{
    margin-left: 200px;
    bottom: 10px;
}
.input_control{
    width:600px;
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    border-radius: 5px;
    height: 42px;
    text-align: center;
    color: #fff;
    border: none;
}
.input_control::placeholder {
    color: #fff;  
}
.login_type a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.login_type i{
    margin-left: 10px;
    font-size: 17px;
    color: #fff;
    background: #999;
    padding: 10px;
    border-radius: 50%;
}






                                             /*PART-2*/
.main{
    padding: 40px 0;
}
.col-md-3{
    margin-bottom: 40px;
}
.album-poster{
    position: relative;
    display: block;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 15px 35px #3d2173a1;
    transition: all ease 0.4s;
}
.album-poster:hover{
    box-shadow: none;
    transform: scale(0.98) translateY(5px);
}
h3{
    font-size: 34px;
    margin-bottom: 34px;
    border-bottom: 4px solid #e6e6e6;
    padding-bottom: 15px;
}
p{
    font-size: 15px;
}
h4{
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 15px;
    font-weight: 700;
}
                                         /*PART-4*/
.album{
    padding: 40px 0;
}
.col-md-3{
    margin-bottom: 40px;
}
.album-hot{
    position: relative;
    display: block;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 15px 35px #3d2173a1;
    transition: all ease 0.4s;
}
.album-hot:hover{
    box-shadow: none;
    transform: scale(0.98) translateY(5px);
}
h3{
    font-size: 34px;
    margin-bottom: 34px;
    border-bottom: 4px solid #e6e6e6;
    padding-bottom: 15px;
}
p{
    font-size: 15px;
}
h4{
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 15px;
    font-weight: 700;
}
                                        /*PART-5*/
.box-ranktable {
 background: rgba(0, 0, 0, 0) url(http://vip.img.cdn.keeng.vn/webv6/images/bg_rank.jpg) no-repeat scroll left top;
 padding: 40px 0;
 margin-bottom: 0;
 background-size: cover;
}



.box-ranktable.box-ranktable_1 {
 background: #fff;
 margin-bottom: 0px;
}

.box-ranktable.box-ranktable_1 .bre-h2-title {
 font-size: 22pt;
 font-weight: normal;
 color: #454545;
}

.box-ranktable.box-ranktable_1 a {
 font-weight: normal;
 color: #454545;
}

.box-ranktable.box-ranktable_1 .bre-item {
 border-bottom: 1px solid #f1f1f1;
 display: inline-block;
 width: 100%;
 padding: 8px 0px;
}

.box-ranktable.box-ranktable_1 .bre-item .bre-info .lazy-load-image-background {
 display: block !important;
}

.box-ranktable.box-ranktable_1 .bre-item .bre-info a {
 font-size: 15px;
 font-weight: bold;
}

.box-ranktable.box-ranktable_1 .bre-stt {
 font-weight: bold;
 font-size: 18px;
 color: #454545;
 width: 20px;
}

.box-ranktable.box-ranktable_1 .bre-info-h3 a {
 font-weight: bold;
 font-size: 15px;
 color: #454545;
}

.box-ranktable.box-ranktable_1 .bre-info-singer {
 color: #acacac;
}

.box-ranktable.box-ranktable_1 .bre-title {
 color: #454545;
}

.box-ranktable.box-ranktable_1 .bre-title a {
 font-weight: normal;
 font-size: 24px;
}

.box-ranktable.box-ranktable_1 .bre-item-top .bre-info {
 color: #fff;
}

.box-ranktable.box-ranktable_1 .kv-img {
 position: relative;
 float: left;
 margin: 13px;
}
.bre-stt {
 width: 15px;
}

.ka-lnk .number-no {
 font-size: 15px;
 font-weight: bold;
 display: inline-block;
 width: 20px;
}

#bxhVideo {
 margin-top: 15px;
 padding: 0 !important;
}

.song-share-audio {
 margin-left: -20px;
}







/*Login*/
.login {
width: 300px;
height: 300px;
border: 1px solid grey;
border-radius: 10px;
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
h2{
    color: #868787;
    font-family: sans-serif;
}
.login input{
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 20px;
}
.login button{
    width: 220px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #45a049;
    color: white;
}
.login button:hover{
    font-size: 15px;
}
body{
    background-position: center;
}

.containerr{
    background: rgba(0, 0, 0, 0) url(http://vip.img.cdn.keeng.vn/webv6/images/bg_rank.jpg) no-repeat scroll left top;
    background-size: cover;
}


.home #header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: none;
}
#header #logo img{
    width: 70px;
}
#header .btn{
    color: #fff;
}
#header .dropdown{
    margin: 0 20px;
}
#header .dropdown-menu{
    text-align: center;
}

#header .dropdown:hover ul{
    display: block !important;
}

footer{
    background: #7d7d7d none repeat scroll 0 0;
}
footer .footer-menu-h3 {
    color: #ffffff;
}
h3 {
    font-size: 34px;
    margin-bottom: 15px;
    border-bottom: none;
    padding-bottom: 0;
}
.footer-top{
    padding: 20px 0;
    border-bottom: 1px solid #fff;
}
.footer-bottom{
    padding:  20px 0;;
}
footer ul{
    padding: 0;
    list-style: none;
}
footer ul a{
    text-decoration: none;
    color: #fff;
}
.footer-img{
    width: 60%;
    margin: 0 auto;
    margin-right: 0;
}
.logo-img img{
    width: 100px;
}
footer .footer-info {
    color: #ffffff;
    font-size: 12px;
    line-height: 20px;
    margin-left: 30px;
}
footer .footer-info a {
    color: #ffffff;
    text-decoration: none;
}
.footer-download h3{
    color: #fff;
}
.footer-download img{
    width: 150px;
}

.number_listen_video {
    position: absolute;
    right: 40px;
    top: 2px;
}
.number_listen_video span img {
    margin-right: 8px;
    margin-top: -4px;
}
.infor_video_play p {
    font-size: 16px;
    color: #acacac;
    font-weight: bold;
}
.player-social {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.player-social li {
margin: 0;
padding: 0;
}
.player-social li a {
    color: #636363 !important;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.title-h2-audio {
    font-size: 20pt;
    color: #7aaf16;
    font-weight: normal;
}
.box_song {
    padding: 30px 0px 0px;
}
.text-white {
    color: #fff!important;
}
.text-white a{
    text-decoration: none;
}
.box_song .ka-info-h3 {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}
.ka-info-h3 {
    font-weight: bold;
    font-size: 15px;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.singer-audio {
    font-size: 15px;
    text-decoration: none;
    color: #9e9e9e;
}

.box_video {
    padding: 20px 0;
}
.box_video .text-truncate a{
    color: rgb(122, 175, 22);
    text-decoration: none;
    font-size: 30px;
}
.kv-info .kv-info-h3 {
    font-size: 15px;
    margin-bottom: 2px;
    line-height: 21px;
    font-weight: normal;
}
.kv-info .kv-info-p {
    margin-bottom: 0;
    line-height: 18px;
}
.kv-info .kv-info-h3 a {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}
.kv-info {
    padding: 20px 0 20px 0;
}
.kv-info .kv-info-p .kv-info-singer {
    color: #9e9e9e;
    font-size: 15px;
}
.info-artice-right .info-artice-name {
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
    font-weight: bold;
}
.h3-song .h3-song-lnk {
    font-size: 20pt;
    font-weight: normal;
    color: #7aaf16;
}
.form-camxuc-baitap {
    height: 60px;
    overflow: hidden;
    position: relative;
    margin: 20px 15px 15px 0;
}
.form-camxuc-baitap .fck-avatar {
    left: 0px;
    position: absolute;
    top: 6px;
}
.form-camxuc-baitap .fck-txtarea {
    border: 0 none;
    height: 33px;
    margin-top: 14px;
    width: 79%;
    resize: none;
    font-size: medium;
    position: absolute;
    left: 8%;
    margin-left: 4px;
    border-bottom: 1px solid #a3a3a3;
}
.form-camxuc-baitap .fck-btn-sent {
    position: absolute;
    right: 10px;
    top: 17px;
    background-color: #7ab014;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    color: #fff !important;
    border: none;
    cursor: pointer;
}
.baitap-title-h2 a {
    font-size: 24px;
    font-weight: normal;
    color: #7aaf16;
}
.bvh-item-h3 a {
    font-size: 15px;
}
.bvh-item-h3 {
    font-weight: bold;
    font-size: 15px;
    color: #454545;
    margin-bottom: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    min-height: 24px;
    text-align: center;
    line-height: 1.6;
    text-align: left;
}
.box-ranktable .bre-h2-title {
    margin-bottom: 30px;
}
.box-ranktable a {
    font-weight: normal;
    font-size: 36px;
    color: #fff;
}
.box-ranktable .bre-title {
    margin-bottom: 25px;
}
.box-ranktable .bre-title a {
    font-size: 24px;
}
.position-relative {
    position: relative!important;
}
.box-ranktable .bre-item-top .bre-info {
    overflow: hidden;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%) repeat scroll 0 0;
    bottom: 0;
    padding: 29px 0;
    width: 100%;
}
.box-ranktable .bre-stt {
    font-weight: normal;
    font-size: 15px;
    color: #fff;
    margin-left: 20px;
    margin-top: 20px;
}
.box-ranktable .bre-info-h3 {
    margin-bottom: 3px;
    margin-left: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}
.box-ranktable .bre-info-h3 a {
    font-weight: normal;
    font-size: 15px;
    color: #fff;
}
.box-ranktable audio{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 27px;
    background: #fff;
}
.box-ranktable .bre-info-singer {
    font-weight: normal;
    font-size: 15px;
    color: #9e9e9e;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 55px;
}
.float-left {
    float: left!important;
}



